@media only screen and (min-width: 60rem) {

    header,
    main,
    footer {
        max-width: 70rem;
        margin: 0 auto;
    }

    header h1 {
        font-size: 2.5rem;
    }

    .assignments {
        column-count: 3;
    }

    .assignments a {
        display: block;
    }

    /* end media query*/
