@media only screen and (min-width: 60rem) {

    header,
    main,
    footer {
        max-width: 60rem;
        margin: 0 auto;
    }

    header h1 {
        font-size: 2.5rem;
    }

    .assingments {
        column-count: 3;
    }
}

/* end media query*/