@media only screen and (min-width: 35rem) {

    header h1 {
        size: 2rem;
    }

    section.who {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.5rem;
    }

}

/* end media query*/