/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Space Mono", monospace;
}

header {
    display: flex;
    justify-content: center;
    padding: .5rem 2vw;
    align-items: center;
}

header h1 {
    font-size: 1rem;
    padding-left: .5rem;
}