/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Space Mono", monospace;
}

header {
    display: flex;
    justify-content: center;
    padding: .5rem 2vw;
    align-items: center;
}

header h1 {
    font-size: 1rem;
    padding-left: .5rem;
}

main {
    margin: 1rem 2%;
}

section.who {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

section.who p {
    margin: 0;
}

section.about {
    display: flex;
    background-color: azure;
    padding: .5rem;
}

section.about p {
    margin: 0;
}

section.about ul {
    margin: 0;
    padding: 0;
}

section.about div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5rem;
    width: 100%;
}

section.about div ul {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: .5rem;
    list-style-position: inside;
}

h2 {
    font-size: 1rem;
}