/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Space Mono", monospace;
}

header {
    display: flex;
    justify-content: center;
    padding: .5rem 2vw;
    align-items: center;

}

header h1 {
    font-size: 1rem;
    padding-left: .5rem;
}

main {
    margin: 1rem 2%;
}

section.who {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;

}

section.who p {
    margin: 0;
}

section.about {
    display: flex;
    background-color: rgb(255, 178, 213);
    padding: .5rem;
}

section.about p {
    margin: 0;
    color: #777;
}

section.about ul {
    margin: 0;
    padding: 0;
    color: #777;
}

section.about div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5rem;
    width: 100%;
}

section.about div ul {
    background-color: rgb(250, 116, 177);
    border-radius: 10px;
    padding: .5rem;
    list-style-position: inside;
}

h2 {
    font-size: 1rem;
    color: rgb(250, 116, 177);
}

.popbox ul li {
    list-style-type: circle;
    list-style-position: inside;
}

.assignments {
    padding: 1rem 2%;
}

.assignments a {
    display: block;
    padding: .8rem;
    margin-bottom: .5rem;
    border: 1px solid #eee;
    background-color: rgb(255, 178, 213);
    border-radius: 7px;
    color: #777;
    text-decoration: none;
}

.assignments a:hover {
    background-color: rgb(250, 116, 177);
    color: black;
}

footer {
    padding: 1rem;
    text-align: center;
    color: #eee;

}