@media only screen and (min-width: 35rem) {
    body {
        display: grid;
        grid-template-columns: 160px auto;
    }

}

nav {
    display: block;
}

header {
    grid-column: 1 / span 2;
}

footer {
    grid-column: 1 / span 2;
}

/* end media query*/