/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at top, #000000, #290409);
    color: #b8b8b8;
    font-family: "Jolly Lodger", system-ui;
    letter-spacing: 0.03em;
    margin: 0;
}

#cards {
    display: flex;
    flex-wrap: wrap;
}

#cards figure {
    margin: 0 2%;
    padding: 0 2%;
    flex-basis: 96%;
}

#cards img {
    width: 100%;
    display: block;
    border-radius: 4px;
    filter: grayscale(100%) contrast(1.1) brightness(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

header {
    text-align: center;
    padding: 1.2rem;
    font-size: 5rem;
    color: #6b0a17;
    text-shadow: 0 0 10px rgba(255, 209, 209, 0.557);
}

#cards .card p {
    text-align: center;
    font-size: 1.2rem;
    color: #6b0a17;
    margin: 0.5rem 0 1rem;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.15);
}

#cards figcaption {
    margin-top: 0.8rem;
    font-size: 0.85rem;
    line-height: 1.5;
}